# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\joshu\OneDrive - Georgia Institute of Technology\Georgia-Tech\CS 7642 - Reinforcement Learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
