# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\joshu\OneDrive - Georgia Institute of Technology\Georgia-Tech\CS 6476 - Computer Vision\Course Work\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
